.container {
  padding: 0 10%;

  display: grid;
  grid-template-areas:
    'header header'
    'player-board computer-board';
  justify-items: center;
}

.header {
  height: 20vh;
  grid-area: header;
}

.player-board {
  grid-area: player-board;
}

.computer-board {
  grid-area: computer-board;
}
